.heading-experience {
    text-align: center;
    padding: 50px 0px;
    color: var(--primary-color);
    background-color: #080808;
    background-image:
        linear-gradient(0deg, transparent 24%, rgba(114, 114, 114, 0.3) 25%, rgba(114, 114, 114, 0.3) 26%, transparent 27%, transparent 74%, rgba(114, 114, 114, 0.3) 75%, rgba(114, 114, 114, 0.3) 76%, transparent 77%, transparent),
        linear-gradient(90deg, transparent 24%, rgba(114, 114, 114, 0.3) 25%, rgba(114, 114, 114, 0.3) 26%, transparent 27%, transparent 74%, rgba(114, 114, 114, 0.3) 75%, rgba(114, 114, 114, 0.3) 76%, transparent 77%, transparent);
    background-size: 55px 55px;
}

hr {
    width: 75%;
    margin: 0 auto;
    border: 1px solid #555;
    border-radius: 5px;
}

.heading-experience h1 {
    font-family: "Ubuntu", sans-serif;
    font-weight: 500;
    font-style: normal;
    letter-spacing: 1px;
    font-size: 2.5rem;
    margin-bottom: -15px;
}

.heading-experience p {
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    letter-spacing: 1px;
    font-size: 0.9rem;
    margin-top: 20px;
}

/* Container  */


.experience-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    margin: 100px 0;
}

.experience-item {
    background: #0b0b0b;
    border: 2px solid #444;
    border-radius: 15px;
    padding: 20px;
    width: 320px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    overflow: hidden;
    position: relative;
    z-index: 1;
    letter-spacing: 1;
}

.experience-item h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #d7ff37;
}

.experience-item p {
    font-size: 1rem;
    color: #bbb;
    margin-bottom: 5px;
}

@media (max-width: 1200px) {
    .heading-experience h1 {
        font-size: 2.2rem;
    }

    .heading-experience p {
        font-size: 0.85rem;
    }
}

@media (max-width: 992px) {
    .heading-experience {
        padding: 40px 0px;
    }

    .heading-experience h1 {
        font-size: 2rem;
    }

    .heading-experience p {
        font-size: 0.8rem;
    }
}

@media (max-width: 768px) {
    .heading-experience {
        padding: 30px 0px;
    }

    .heading-experience h1 {
        font-size: 1.8rem;
    }

    .heading-experience p {
        font-size: 0.75rem;
    }
}

@media (max-width: 576px) {
    .heading-experience {
        padding: 20px 0px;
    }

    .heading-experience h1 {
        font-size: 1.6rem;
    }

    .heading-experience p {
        font-size: 0.7rem;
    }
}

@media (max-width: 400px) {
    .heading-experience {
        padding: 15px 0px;
    }

    .heading-experience h1 {
        font-size: 1.4rem;
    }

    .heading-experience p {
        font-size: 0.65rem;
    }
}