::-webkit-scrollbar {
  width: 5px;
  /* height: 10px; */
}
::-webkit-scrollbar-track{
    background: black;
}
::-webkit-scrollbar-thumb{
    background: linear-gradient(#642bff, #ff22e6);
    border-radius: 10px;
}