:root{
  --background: black;
  --primary-color: white;
  --gradient: linear-gradient(90deg, yellow, #00d4ff);
  /* --gradient2: linear-gradient(180deg, #333, #00d4ff); */
  --gradient2: linear-gradient(180deg, #00d4ff, yellow);
  --blue: #00d4ff;
  --yellow: yellow;
  --grey-color: #555;
}

::-webkit-scrollbar {
  width: 8px;
  /* height: 10px; */
}
::-webkit-scrollbar-track{
    background: var(--background);
}
::-webkit-scrollbar-thumb{
    background: var(--gradient2);
    border-radius: 10px;
}