/* src/index.css */
body,
html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section {
    padding: 60px 20px;
    height: 100vh;
    border-bottom: 1px solid #ddd;
}

h1 {
    text-align: center;
    margin: 0;
}